<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FRP.Properties.Settings.fregatConnectionString" connectionString="Data Source=193.34.94.119,1433;User ID=sa;Password=;Initial Catalog=fregat"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>